html{font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;font-size:18px;color:#444;background-color:#f3f3f3}
*{margin:0;padding:0;box-sizing:border-box;}
body{margin:0}
svg{width:250px;margin:40px 0 30px}
header{text-align:center;padding:10px;background-color:#df0000}
header h1{font-size:20px;font-weight:700;font-size:24px;line-height:1.4;color:#fff}
.error{text-align:left;color:#df0000;padding:20px 10px;border: 1px solid #df0000; background-color:#f3f3f3;font-weight:bold}
.opgelet{color:#df0000;padding:20px 0}
header a{color:#fff;float:right;text-decoration:none;display:inline-block;padding:13px 50px;border-radius:3px;font-weight:700;font-size:14px;text-transform:uppercase;background-color:#f05283}
.label{text-align:left;margin-bottom:10px;font-size:16px}
.label-left{float:left;text-align:left;margin-bottom:10px;font-size:16px}
.right{float:right}
.tz-link{text-decoration:none;color:#fff!important;font-weight:700;font-size:36px}
.tz-link span{color:#da431c}
.form-labels-on-top{background-color:#fff;box-shadow:0 1px 3px 0 rgba(0,0,0,.1);font-size:14px;text-align:center;padding:0 20px}
.form-labels-on-top .form-row{margin:20px 0}
.form-labels-on-top .form-title-row{margin:0 auto 40px;text-align:center;}
.form-labels-on-top h1{display:inline-block;box-sizing:border-box;font-size:24px;padding:0 0 12px;margin:0;border-bottom:2px solid #df0000}
.form-labels-on-top input{box-sizing:border-box;width:100%;box-shadow:1px 2px 4px 0 rgba(0,0,0,.08);border:1px solid #dbdbdb;padding:11px;line-height:2;font-size:18px}
.form-labels-on-top textarea{box-sizing:border-box;width:100%;box-shadow:1px 2px 4px 0 rgba(0,0,0,.08);border:1px solid #dbdbdb;padding:11px;line-height:2;font-size:18px}
.form-labels-on-top input[type=checkbox],.form-labels-on-top input[type=radio]{box-shadow:none;width:auto;}
.form-labels-on-top select{background-color:#fff;color:#5f5f5f;box-sizing:border-box;font-size:18px;width:100%;box-shadow:1px 2px 4px 0 rgba(0,0,0,.08);padding:18px 18px;border:1px solid #dbdbdb}
.form-labels-on-top .form-radio-buttons>div{margin-bottom:10px}
.form-labels-on-top .form-radio-buttons label span{margin-left:8px;color:#5f5f5f}
.form-labels-on-top .form-radio-buttons input{width:auto}
.form-labels-on-top button{cursor:pointer;border-radius:3px;background-color:#df0000;color:#fff;font-size:18px;font-weight:700;box-shadow:1px 2px 4px 0 rgba(0,0,0,.08);padding:15px 20px;border:0;margin-top:15px}
.form-row p{padding-bottom:10px;line-height:1.5;font-size:13px}
h4{color:#df0000}
table.info-table{width:100%;}
table.info-table tr{}
table.info-table th{text-align:center;}
table.info-table td.content{border-bottom: 1px solid #000;text-align:center;background-color: #dbdbdb;}
table.info-table td.content-top{border-bottom: 1px solid #000;text-align:center;background-color: #dbdbdb;vertical-align:top;}
table.info-table td.content-no-border{text-align:center;}
table.info-table td.left{border-bottom: 1px solid #000;text-align:center;background-color: #666;height:60px;}
table.info-table td.row-type{padding-top:20px;text-align:left;font-weight:bold;}
ul li {margin-left:25px;}
ul li li {margin-left:50px;}
a.red{color:#df0000 !important}
div.border-100 {width: 100%;float:left;border: 1px solid #dbdbdb;background-color:#f3f3f3;text-align:left;}
div.left-100 {width:100%;float:left;padding:10px;text-align:left;}
div.left-50 {width:50%;float:left;padding:10px;text-align:center;}
div.left-33 {width:33%;float:left;padding:10px;text-align:center;}
.fa-info-circle {color:#1884FF;}
.fa-check-circle {color:#00BB27;}
.fa-times-circle {color:#df0000;}
.text-left{text-align:left;}
.big{font-size:18px;}
.clear{clear:both;}
@media (min-width:650px){
    .form-labels-on-top h1{display:block}
    .form-labels-on-top{width:708px;margin:50px auto 0}
}
