html body *,.ms-link-list__title:before,.ms-market-selector__item-link-wrapper--offcanvas:after, .site-navigation2__child-item--no-children:after,.ms-market-selector__button--offcanvas:not(.site-navigation2__link--primary-toggle):after, .site-navigation2__link:not(.site-navigation2__link--primary-toggle):after{font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;}
body .ms-icon--type_info:before{content: "\2605";}
body .ms-icon--type_location:before{content: "\2617";}
.ms-icon--type_menu:before{font-size: 27px;transform: translateY(-3px);}
h3,h4 {font-weight: 600;}
body #nav-categories li a:after {background-image: none;content: "\276f";top: 11px;}
