div #product-details .model .group,div #product-details .model dt {font-size: 13px;color: #444;}
div #product-details .model .group .product-rate>a{float: inherit;display: block;margin-top: 3px;}
div #product-details .model .product-rate .rating{margin:0;}
div #product-details .model .group .product-rate>a:hover{color:#df0000;}
@media (min-width: 1200px){
body.responsive #product-sidebar .sidebar-form .price-button {top: 5px;}
}
#services{display:none;}
#product-sidebar .sidebar-form form,#product-details .price-sidebar{background-color: #f2f2f2;}
#product-sidebar .sidebar-form form{border: 1px solid #ddd;}
.price {visibility:visible !important;}
a.button.add-to-cart:before {left: 8px;font-size: 12px;top: 5px;background: none;content: "🛒";color: #fff;font-family: "MM-iconfont";text-indent: 0;}
a.button.add-to-cart{background-color: #df0000;color:#fff;}
.button.add-to-cart.large{font-size: 16px;}
.button.add-to-cart:hover{background-color: #cf0101;}
.button.add-to-cart.large:before{left: 16px;top: 11px;font-size: 16px;}
body .button {color: #fff;background: #000;border-radius: 3px;}
div #product-details .product-details dt, div #product-details .product-details dd {font-size: 14px;color: #444;line-height: 18px;margin: 0 0 2px;}
div .fullscreen-layer .fullscreen-layer-header .logo{background: url(https://csscdn.redblue.de/msp/patternlibrary/deployable/static/resources/images/red/mm-logo.svg) 0 50% no-repeat;text-indent: -999px;}
div #product-details .details h1 {color: #000;border-bottom: 1px solid #ddd;line-height: 26px;}
#product-details .model{border-bottom: 1px solid #ddd;}
div #product-sidebar .fullscreen-gallery {color: #000;padding: 0;margin: -19px 0 0 22px;}
#product-details .price-sidebar div.price-label, #product-details .price-sidebar small,#product-sidebar .sidebar-form .price-details div.price-label,.responsive #product-sidebar .sidebar-form .price-details small,div .product-details dt:before{display: none;}
div .product-details dt{padding-left: 0;padding: 0;width: 170px;}
div #product-sidebar .product-name{color:#000;font-family: mm-text-bold;font-size: 20px;padding-top: 5px;}
div .product-accessories .products-grid .base-info .b-set .add-to-cart span{padding-left:33px;}
div .breadcrumbs li.home a {background: none;width: 13px;}
.iconfont-delivery:before,.deliverytbl-section-delivery .deliverytbl-sub-heading th:before,.box.infobox.availability>ul>li:before{content:"";font-size:32px;color:#777}
.box.infobox.availability>ul>li:before {font-family: "mm-icons";background: none !important;text-indent: 0;font-size: 11px;color: #444;width: 18px;height: 18px;top: 50%;margin-top: -5px;left: 0;}
.iconfont-store:before,.deliverytbl-section-pickup .deliverytbl-sub-heading th:before,.box.infobox.availability>ul>li.section-store-availability:before,.box.infobox.availability>ul>li.market-buy:before{content:"";font-size:32px;color:#777}
.box.infobox.availability>ul>li.section-store-availability:before, .box.infobox.availability>ul>li.market-buy:before {color: #444;font-size: 18px;left: 3px;margin-top: -9px;}
.breadcrumbs li:before {line-height: 1;font-family: "mm-icons";background-image: none;color: #777;content: "\e603";font-size: 7px;height: 7px;text-indent: 0;top: 5px;left: 4px;width: 4px;}
.skin2014 .breadcrumbs li.home a:after, .breadcrumbs li.home a:after {line-height: 1;font-family: "mm-icons";color: #DF0000;content: "\e60d";display: block;font-size: 10px;position: absolute;text-indent: 0;top: 4px;}
.thumbnail-carousel__prev{border-top-left-radius: 3px;border-bottom-left-radius: 3px;background-color: #f2f2f2;}
.thumbnail-carousel__next{border-top-rigth-radius: 3px;border-bottom-rigth-radius: 3px;background-color: #f2f2f2;}
body .icon {background:none;margin: -7px 0 0 3px;}
body .icon:after {font-family: MM-iconfont !important;content: "i";font-size: 12px;color: #444;}
body .specification dt:before {background: none;text-indent: 0;content: '';color: #56B118;font-size: 14px;left: 8px;top: 7px;font-family: "mm-icons";}
body .button.arrow span:after{background: none;text-indent: 0;font-family: MM-Iconfont !important;content: "❯";top: 24%;}
.page-product .label,.service-value {font-size: 14px;}
#product-sidebar .fullscreen-gallery,#product-details .details .more,#product-details .options a{font-size: 13px;border-bottom: 1px solid #bbb;}
#product-sidebar .fullscreen-gallery:hover,#product-details .details .more:hover,#product-details .options a:hover{color: #df0000;border-bottom:1px solid #df0000;text-decoration: none;}
div .features-wrapper .button-toggle-collapsed{background: none;color: #000;font-weight: normal;font-size: 16px;border-bottom: 1px solid #bbb;left: 10px;padding: 0;border-radius: 0;}
div .features-wrapper .button-toggle-collapsed:hover{color: #df0000; border-bottom: 1px solid #df0000;}
div .features-wrapper .button-toggle-collapsed span {padding: 0}
div .multisection{border:none;}
div .multisection h2{color: #444;font-size: 17px;line-height: 20px;padding: 5px 0 12px;background:none;border:none;}
div .specification dt {padding: 6px 5px 6px 30px;color: #444;}
div .specification dt, div .specification dd {font-size: 14px;line-height: 18px;padding:6px 5px 6px 30px;}
div .specification dt:nth-child(4n+1), div .specification dt.nth4n1, div .specification dt:nth-child(4n+1)+dd, div .specification dt.nth4n1+dd {background-color: #f2f2f2;}
.description, #product-details .accessories-list, #product-details .products-carousel, #product-details .features-wrapper, #product-details .product-bundle .pb-element, #product-details .reviews-content, #product-details #alaTestReviews, #product-details .rbkit-container, #product-details #flix-inpage section header+* {border: 1px solid #ddd;}
#product-details .features-wrapper, #product-details #flix-inpage section header+*, #product-details .product-bundle .pb-element, #product-details .reviews .reviews-content li, #product-details #flix-inpage .inpage_block, #product-details .description, #product-details .tracklist>* {padding: 10px;}
div #product-details .product-anchors {border: none;background: none;height: 0;margin: 0;}
div .features-wrapper.collapsed .collapse-fade {top:140px;}
div #product-details .model .group{padding: 5px 0 0;}
div #product-details .model .group .product-rate{max-width: 203px;margin-top: 3px;}
#product-details .description {clear: both;color: #444;margin-top: 40px;position: relative;}
#product-details .description h2{position:absolute;top:-30px;left:0px;font-size:20px;color: #000;}
#product-details .description h3 {margin-bottom: 10px;color: #444;}
#product-details .border-top, .header {margin:0;border:none;}
#product-details .header h2 {font-size: 20px !important;}
#product-details .header p{font-size: 13px;}
.premiumopts h2, #product-details #product-service h2 {font-size: 17px;background: none !important;line-height: 34px !important;}
.product-container .products-grid>li{min-height: 300px !important;}
.product-container .products-grid>li h3 a {display: block;height: 34px;}
.product-container .header h2 {font-size: 20px;color: #000;padding-top: 20px;padding-left:0;}
.product-container .products-carousel{border: 1px solid #ddd;}
#product-details .price-sidebar, #product-details .price-sidebar .availability{border: 1px solid #ddd !important;}
#product-details .price-sidebar .availability {margin-top: 12px;}
.product-container .products-grid>[data-id] {background: url(https://csscdn.redblue.de/MediaBE/skins/desktop0507/fr/images/general/mm-loader.gif) no-repeat 50% 50%;}
.product-container .button.add-to-cart {border: none !important;}
div #product-sidebar .premiumopts{margin-top:-11px;}
div .products-grid .base-info h3, div #product-preview .base-info h3{margin: 10px 6px 6px;}
div .products-grid .base-info .photo, div #product-preview .base-info .photo{min-height: 195px;display: block;}
.products-grid .base-info:hover>h3>a {color: #df0000;text-decoration: none;}
div .features-wrapper.collapsed a.button {bottom: 10px !important;}
.page-product #avis-sur-les-produits, .page-product #productrecensies {border-bottom: 1px solid #ddd;}
div #product-sidebar .fullscreen-gallery:after,div #product-details .options .to-wishlist a:before,div #product-details .options .to-compare a:before,div #product-details .options .print a:before {font-family: "mm-icons";background: none !important;text-indent: 0;font-size: 14px;left: -22px;}
div #product-details .options .to-wishlist a:before{content: "";}
div #product-details .options .to-compare a:before{content: "";}
div #product-details .options .print a:before{content: "";}
div #product-sidebar .fullscreen-gallery:after{content:"";}
div #product-details .details .more{padding:0;}
div #product-details .details .more:before{display:none;}
div #product-details .options a{padding:0;margin:0 0 0 22px;}
div .rating,div .rating>div:first-child,div .rating:after{background:none;vertical-align: inherit;}
div .rating:after,div .rating:before{font-family: MM-icons;position: absolute;font-size:11px;}
div .rating:before{z-index: 1;color: #df0000;font-weight: bold;}
div .rating:after,body div .rating-0:before{content: '    ';color: #444}
div .rating-0-5:before{content: ''}
div .rating-1:before{content: '';}
div .rating-1-5:before{content: ' ';}
div .rating-2:before{content: ' ';}
div .rating-2-5:before{content: '  ';}
div .rating-3:before{content: '  ';}
div .rating-3-5:before{content: '   ';}
div .rating-4:before{content: '   ';}
div .rating-4-5:before{content: '    ';}
div .rating-5:before{content: '    ';}
.button.rate-product:before{display:none;}
div .button.gray.rate-product span{padding-left: 11px;color: #444;line-height: 28px;}
div .button.gray.rate-product{background: #fff;border: 1px solid #ddd;}
div .prev, div .next{    width: 38px;height: 38px;box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .4);}
div .next:before {background: none;font-family: mm-icons;content: "\e603";top: 11px;right: 15px;font-size: 20px;}
div .prev:before {content: "\e602";background: none;font-family: mm-icons;font-size: 20px;top: 11px;left: 12px;}
div .prev:hover:before,div .next:hover:after{color:#df0000;}
div .box.infobox ul li {margin: 10px 0px 5px;font-size: 13px;}
div .box.infobox ul li+li {margin-top: 15px;}


