.price {visibility:visible !important;}
a.button.add-to-cart:before {left: 10px;font-size: 12px;top: 5px;background: none;content: "\1f6d2";color: #fff;font-family: "MM-iconfont";text-indent: 0;}
a.button.add-to-cart{background-color: #df0000;border:1px solid #df0000;color:#fff;}
.button.add-to-cart.large{font-size: 16px;}
.button.add-to-cart:hover{background-color: #cf0101;}
.button.add-to-cart.large:before{left: 16px;top: 11px;font-size: 16px;}
body .button {color: #000;background: #fff;border: 1px solid #ddd;border-radius: 3px;}

div #product-details .details h1 {color: #000;}
div #product-sidebar .fullscreen-gallery {color: #000;}
#product-details .price-sidebar div.price-label, #product-details .price-sidebar small,#product-sidebar .sidebar-form .price-details div.price-label,.responsive #product-sidebar .sidebar-form .price-details small,div .product-details dt:before{display: none;}
div .product-details dt{padding-left: 0;}
div #product-sidebar .product-name{color:#000;}
