div #product-details .model .group,div #product-details .model dt {font-size: 13px;color: #444;}
div #product-details .model .group .product-rate>a{float: inherit;display: block;}
@media (min-width: 1200px){
body.responsive #product-sidebar .sidebar-form .price-button {top: 5px;}
}
#services{display:none;}
body .premiumopts h2{background: #f8f8f8 !important;border-bottom: 2px solid #df0000;}
#product-sidebar .sidebar-form form{border: 1px solid #e7e7e7;}
.price {visibility:visible !important;}
a.button.add-to-cart:before {left: 8px;font-size: 12px;top: 5px;background: none;content: "🛒";color: #fff;font-family: "MM-iconfont";text-indent: 0;}
a.button.add-to-cart{background-color: #df0000;color:#fff;}
.button.add-to-cart.large{font-size: 16px;}
.button.add-to-cart:hover{background-color: #cf0101;}
.button.add-to-cart.large:before{left: 16px;top: 11px;font-size: 16px;}
body .button {color: #fff;background: #000;border-radius: 3px;}
div #product-details .product-details dt, div #product-details .product-details dd {font-size: 14px;color: #444;line-height: 18px;margin: 0 0 2px;}
div .fullscreen-layer .fullscreen-layer-header .logo{background: url(https://csscdn.redblue.de/msp/patternlibrary/deployable/static/resources/images/red/mm-logo.svg) 0 50% no-repeat;text-indent: -999px;}
div #product-details .details h1 {color: #000;border-bottom: 1px solid #ddd;line-height: 26px;}
#product-details .model{border-bottom: 1px solid #ddd;}
div #product-sidebar .fullscreen-gallery {color: #000;}
#product-details .price-sidebar div.price-label, #product-details .price-sidebar small,#product-sidebar .sidebar-form .price-details div.price-label,.responsive #product-sidebar .sidebar-form .price-details small,div .product-details dt:before{display: none;}
div .product-details dt{padding-left: 0;padding: 0;width: 170px;}
div #product-sidebar .product-name{color:#000;}
div .product-accessories .products-grid .base-info .b-set .add-to-cart span{padding-left:33px;}
div .breadcrumbs li.home a {background: none;width: 13px;}
.iconfont-delivery:before,.deliverytbl-section-delivery .deliverytbl-sub-heading th:before,.box.infobox.availability>ul>li:before{content:"";font-size:32px;color:#777}
.box.infobox.availability>ul>li:before {font-family: "mm-icons";background: none !important;text-indent: 0;font-size: 11px;color: #444;width: 18px;height: 18px;top: 50%;margin-top: -5px;left: 0;}
.iconfont-store:before,.deliverytbl-section-pickup .deliverytbl-sub-heading th:before,.box.infobox.availability>ul>li.section-store-availability:before,.box.infobox.availability>ul>li.market-buy:before{content:"";font-size:32px;color:#777}
.box.infobox.availability>ul>li.section-store-availability:before, .box.infobox.availability>ul>li.market-buy:before {color: #444;font-size: 18px;left: 3px;margin-top: -9px;}
.breadcrumbs li:before {line-height: 1;font-family: "mm-icons";background-image: none;color: #777;content: "\e603";font-size: 7px;height: 7px;text-indent: 0;top: 5px;left: 4px;width: 4px;}
.skin2014 .breadcrumbs li.home a:after, .breadcrumbs li.home a:after {line-height: 1;font-family: "mm-icons";color: #DF0000;content: "\e60d";display: block;font-size: 10px;position: absolute;text-indent: 0;top: 4px;}
.thumbnail-carousel__prev{border-top-left-radius: 3px;border-bottom-left-radius: 3px;background-color: #f8f8f8;}
.thumbnail-carousel__next{border-top-rigth-radius: 3px;border-bottom-rigth-radius: 3px;background-color: #f8f8f8;}
body .icon {background:none;margin: -7px 0 0 3px;}
body .icon:after {font-family: MM-iconfont !important;content: "i";font-size: 12px;color: #444;}
body .specification dt:before {background: none;text-indent: 0;content: '';color: #090;font-size: 13px;left: 8px;top: 7px;font-family: "mm-icons";}
body .button.arrow span:after{background: none;text-indent: 0;font-family: MM-Iconfont !important;content: "❯";top: 24%;}
div .premiumopts h2,div .header{border-bottom: 2px solid #df0000;}
.page-product .label {font-size: 14px;}
#product-details .model .group .product-rate>a,#product-sidebar .fullscreen-gallery,#product-details .details .more,#product-details .options a{font-size: 14px;border-bottom: 1px solid #bbb;}
#product-details .model .group .product-rate>a:hover,#product-sidebar .fullscreen-gallery:hover,#product-details .details .more:hover,#product-details .options a:hover{color: #df0000,border-bottom:1px solid #df0000;}
div .features-wrapper.collapsed .button-toggle-collapsed{background: none;color: #000;font-weight: normal;font-size: 16px;border-bottom: 1px solid #bbb;left: 10px;text-align: center;}
div .features-wrapper.collapsed .button-toggle-collapsed:hover{color: #df0000; border-bottom: 1px solid #df0000;}
div .features-wrapper.collapsed .button-toggle-collapsed span {padding: 0}
div .multisection{border:none;}
div .multisection h2{color: #444;font-size: 20px;line-height: 20px;padding: 5px 0 12px;background:none }
div .specification dt {padding: 6px 5px 6px 30px;color: #444;}
div .specification dt, div .specification dd {font-size: 14px;line-height: 18px;}
div .specification dt:nth-child(4n+1), div .specification dt.nth4n1, div .specification dt:nth-child(4n+1)+dd, div .specification dt.nth4n1+dd {background-color: #f2f2f2;}
#product-details .accessories-list, #product-details .products-carousel, #product-details .features-wrapper, #product-details .product-bundle .pb-element, #product-details .reviews-content, #product-details #alaTestReviews, #product-details .rbkit-container, #product-details #flix-inpage section header+* {border: 1px solid #ddd;}
#product-details .features-wrapper, #product-details #flix-inpage section header+*, #product-details .product-bundle .pb-element, #product-details .reviews .reviews-content li, #product-details #flix-inpage .inpage_block, #product-details .description, #product-details .tracklist>* {padding: 10px;}
